<div class="card-body" id="<%= dom_id larva_species %>">
  <strong>Nome</strong>
  <p class="text-muted">
    <%= larva_species.name %>
  </p>

  <strong>Descrição</strong>
  <p class="text-muted">
    <%= larva_species.description %>
  </p>
</div>
