<div class="card-body" id="<%= dom_id department %>">
  <strong>Nome</strong>
  <p class="text-muted">
    <%= department.name %>
  </p>

  <strong>Descrição</strong>
  <p class="text-muted">
    <%= department.description %>
  </p>
</div>
