<div class="card-body" id="<%= dom_id faq %>">
  <strong>Pergunta</strong>
  <p class="text-muted">
    <%= faq.question %>
  </p>

  <strong>Resposta</strong>
  <p class="text-muted">
    <%= faq.answer %>
  </p>
</div>

<!--<div id="<%#= dom_id faq %>">-->
<!--  <p>-->
<!--    <strong>Question:</strong>-->
    <%#= faq.question %>
<!--  </p>-->

<!--  <p>-->
<!--    <strong>Answer:</strong>-->
    <%#= faq.answer %>
<!--  </p>-->

<!--</div>-->
