<% content_for :title do %>
  Perguntas Frequentes
<% end %>

<section class="content-header">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">FAQ - Perguntas Frequentes</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card card-primary">
          <div class="card-header">
            <div class="col-sm-12"></div>
          </div>

          <div class="card-body">
            <% if @faqs.blank? %>
              <p class="col text-center">Não existem perguntas e respostas cadastradas.</p>
            <% else %>
              <dl>
                <% @faqs.each.with_index do |faq, idx| %>
                  <dt><%= "#{idx + 1}. #{faq.question}" %></dt>
                  <dd>&emsp;<%= faq.answer %></dd>
                <% end %>
              </dl>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
