<div class="card-body" id="<%= dom_id institutional %>">
  <strong>Descrição sobre o projeto</strong>
  <p class="text-muted">
    <%= institutional.description %>
  </p>

  <strong>Contato</strong>
  <p class="text-muted">
    <%= institutional.phone_numbers %>
  </p>
</div>
