<% content_for :title do %>
  Editar dados do <%= @user.name %>
<% end %>

<section class="content-header">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Edição de usuário</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card card-primary">
          <div class="card-header">
            <div class="col-sm-12"></div>
          </div>

          <div class="card-body p-0">
            <%= render 'form', user: @user %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
