<div class="card-body" id="<%= dom_id property_type %>">
  <strong>Nome</strong>
  <p class="text-muted">
    <%= property_type.name %>
  </p>

  <strong>Descrição</strong>
  <p class="text-muted">
    <%= property_type.description %>
  </p>
</div>
