<div class="card-body" id="<%= dom_id region %>">
  <strong>Nome</strong>
  <p class="text-muted">
    <%= region.name %>
  </p>

  <strong>Secretaria</strong>
  <p class="text-muted">
    <%= region.department.name %>
  </p>
</div>
